body { 
  background-image: url("../../img/ofuda_back.png"); 
}

#zoomwall, .zoomwall { 
  display: block; 
  width: 95%; 
  max-width: 800px; 
  height: 100vh;
  margin: auto; 
  position: absolute; 
  top: 50px; 
  left: 0; 
  right: 0; 
}
